extends ../template

block content
    .col-xs-12.col-sm-9
        each post in news
            .row
                .col-xs-12.col-sm-2
                    img.img-rounded(width='150px', height='150px', src='/images/#{post.news_image}', alt='#{post.news_image}', tittle='#{post.news_image}')
                .col-xs-12.col-sm-10
                    .col-xs-12.col-lg-12
                        h2
                            a(href='/home/detail/#{post.id}') #{post.news_tittle}          
                        p #{post.news_detail}
                        p
                            a.btn.btn-default.pull-right(href='/home/detail/#{post.id}', role='button') Chi ti&#x1EBF;t &raquo;
            hr  
    .pull-right
