extends ../layout

block content
    .row
        h4 Qu&#x1EA3;n l&yacute; th&agrave;nh vi&ecirc;n   
        .table-responsive
            table.table.table-striped.table-hover.table-bordered
                thead
                    tr.text-primary
                        th ID                   
                        th Email                    
                        th Name 
                        th Role                  
                        th Edit                 
                        th Delete          
                tbody
                    each user in users
                        tr
                            td #{user.id}                    
                            td
                                a(href='#') #{user.email}                    
                            td #{user.name}                                       
                            if user.role ==1
                                td.text-danger Admin
                            else
                                td.text-info User
                            td
                                a(href='/users/update/#{user.id} ') Edit                  
                            td
                                a(href='/users/delete/#{user.id} ') Delete         
            .pull-right
