extends ../layout

block content
  .row
    h4
        a(href='/news/create') Th&ecirc;m m&#x1EDB;i b&agrave;i vi&#x1EBF;t    
    .table-responsive
        table.table.table-striped.table-hover.table-bordered
            thead
                tr
                    th ID                    
                    th Tittle                    
                    th Category                    
                    th Status                    
                    th Edit                    
                    th Delete           
            tbody
                each nam in news
                    tr 
                        td #{nam.id}                
                        td #{nam.news_tittle}             
                        td #{nam.category.cat_name}
                        if nam.news_status==1
                            td New  
                        else
                            td Old               
                        td
                            a(href='/news/update/#{nam.id}')
                                span.glyphicon.glyphicon-pencil(aria-hidden='true')
                                |  Edit                  
                        td
                            a(href='/news/destroy/#{nam.id}')
                                span.glyphicon.glyphicon-trash(aria-hidden='true')
                                |  Delete       
            .pull-right
